@use './constants.scss';

.nodeCon {
  outline: 1px solid constants.$gridBorderColor;
  width: 30px;
  height: 30px;
  background-color: constants.$gridColor;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

    @media only screen and (max-height: 640px) {
      height: 25px;
      width: 25px;
    }

  &:hover {
    background-color: #b1af9e;
    transition: all 0.05s ease;
  }

  .svgTing {
    transform: rotate(180deg);
    width: 80%;
  }

  &.wallTing {
    background-color: black;
  }


  &.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      background-color: rgba(10, 0, 39, 0.75);
    }

    25% {
      background-color: rgba(0, 52, 95, 0.75);    
    }
  
    50% {
      background-color: rgba(5, 105, 78, 0.75);    
    }

    75% {
      background-color: rgba(0, 121, 30, 0.75);    
    }
  
    100% {
      background-color: constants.$dijkstraColor;
    }
  }

  &.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes shortestPath {
    0% {
      background-color: rgb(26, 0, 26);
    }

    50% {
      background-color: rgb(101, 0, 121);
    }

    100% {
      background-color: constants.$shortestPathColor;
    }
  }
}
